.navbar-header {
    padding-top: 10px;
}

pre {
    outline: 1px solid #ccc; 
    padding: 5px; margin: 5px; 
}
.string { color: #2313A4; }
.number { color: #2313A4; }
.boolean { color:#5F59F4; }
.null { color: #000000; }
.key { color: #3E8495; }